body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}
.projects {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.projects h1 {
  text-align: center;
  color: #333;
}

.project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  gap: 2rem;
  padding: 1rem 3rem;
  /* background: #000; */
}


.project-image img {
 min-width: 20rem;
 max-width: 90vw;

}



.project-text {
  flex: 2;
  padding: 20px;
}

.project-text h2 {
  margin: 2rem 0px;
  color: #e23e37;
}

.project-text p {
  color: #555;
  max-width: 100%;
  /* margin: 20px 0; */
  /* padding: 10px; */
  max-width: 90vw !important;
  font-size: 1rem;
  line-height: 1.8;
  word-spacing: 0.1rem;
  letter-spacing: 0.05rem;
  text-align: justify;
  color: #333;
}
@media screen and (max-width:400px) {
  .project{
    padding: 0;
  }
.project-text p{  max-width: 90vw !important;}
}