body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  padding: 20px;
  background: #f4f4f4;
}

.contact-us {
  text-align: center;
  margin-top: 20px;
}

.contact-form {
  /* background: white;
  padding: 20px;
  border-radius: 10px;
  background: beige;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items:center;
  margin-top: 3rem;
  justify-content: space-evenly;
}
.form-text{
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.contact-img img{
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.contact-form h2 {
  margin-top: 0;
  color: #dd1b59;
}

.contact-form p {
  color: #555;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form form input,
.contact-form form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 20rem;
  max-width: 90vw;
}

.contact-form form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #dd1b59;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.contact-form form button:hover {
  background: #c2184b;
}